{% extends 'base.html' %}
{% block content %}
    <div class="main">
        <div class="detail">
            <ul>
                <li><div class="detail-store-name">Store name: {{ post.store_name }}</div></li>
                <li><div class="detail-orderd-drink">Drinks: {{ post.ordereddrink }}</div></li>
                <li><div class="detail-amount">Amount: ￥{{ post.amount }}-</div></li>
            </ul>
            <div class="deetail-return">
                <p><a href="/postlist">Back</a></p>
                <p><a href="/top">Back Top</a></p>
            </div>
        </div>
    </div>
{% endblock %}